.card {
  border: 1px solid $primary;
  border-radius: 5px;
  .card--thumb {
    min-height: 120px;
    background: linear-gradient(0.25turn, $primary, $secondary);
  }
  .card--content {
    padding: 10px;
  }
  button {
    .card-item:nth-child(2n) & {
      @include btn(inverse);
    }
  }
}