.user {
  .user--picture {
    border-radius: 100%;
    border: 5px solid $primary;
    overflow: hidden;
    animation: party-border 1500ms ease-in-out infinite alternate-reverse;
    .column:nth-child(4n + 3) & {
      .user--picture {
        animation-delay: 750ms;
      }
    }
    .column:nth-child(4n + 1) & {
      animation-delay: 1500ms;
    }
    .column:nth-child(4n + 4) & {
      animation-delay: 2250ms;
    }
    img {
      display: block;
      width: 100%;
    }
  }
  .user--name {
    margin-top: 10px;
    text-align: center;
  }
}